.taskTitle {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.alert, .alert-success  {
    position: fixed;
    top: 10px;
    right: 30px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: 2rem;
    background:limegreen;
    color: white;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition:  all 0.2s ease-in-out;
    opacity: 0;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(1.25rem);
  }