<!--The content below is only a placeholder and can be replaced.-->
  
  <mat-card class="containerPane" color="accent">
    <mat-toolbar color="primary" class="header">
      <mat-toolbar-row>
        <span class="headerName">KARYA</span>
        <span class="spacer"></span>
        <mat-slide-toggle color="accent" class="themeButton" (click)="onSetTheme()">Theme</mat-slide-toggle>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-card cdkDropList cdkDropListOrientation="horizontal" class="example-list col-sm-12 col-md-6" (cdkDropListDropped)="dropSide($event)">
    <mat-card class="taskCard" color="accent" *ngFor = "let allList of allTasksList" cdkDrag>
        <div><p class="taskName">{{allList.listName}} <span class="glyphicon glyphicon-trash deleteWholeTask" id="deleteTask" (click)="openDialog(allList.listId, 'deleteTask', allList)"></span></p>
        </div>
        <div *ngIf="allList.values.length>0">
        <div 
          cdkDropList 
          id="{{allList.listId}}" 
          [cdkDropListData]="allList.values"
          [cdkDropListConnectedTo]="connectedList" 
          class="task-list" 
          (cdkDropListDropped)="onDrop($event)">
          <div class="task-block" *ngFor="let item of allList.values" cdkDrag>{{item.name}}
            &nbsp; <div class="buttonClass"><button class="glyphicon glyphicon-pencil editTask" (click)="openDialog(allList.listId, 'edit', item)"></button>
            <button class="glyphicon glyphicon-eye-open viewTask" (click)="openDialog(allTasksList.listId, 'view', item)"></button>
            <button class="glyphicon glyphicon-trash deleteTask" (click)="openDialog(allList.listId, 'delete', item)"></button></div>
          </div>
        </div>
        </div>
      <button class="addTaskButton" (click)="openDialog(allList.listId, 'add')"><span class="glyphicon glyphicon-plus-sign"></span> Add task</button>
    </mat-card>
  
    <div class="createPane">
      <button class= "btn btn-warning" id="addNewTask" (click)="openDialog('newList', 'addList')">+ Add Task List</button>
    </div>
  </mat-card>
  </mat-card>
<router-outlet></router-outlet>
